<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerPort" value="8737"/>
    <add key="ServerAddr" value="172.17.133.10"/>
  </appSettings>
  <appSettings>
    <add key="type1" value=""/>
    <add key="type2" value=""/>
    <add key="type3" value=""/>
  </appSettings>
</configuration>