<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--*****************SQL Server连接设置*****************-->
    <add name="sqlserverconnstr" connectionString="server=.;database=iot;integrated security=SSPI" providerName="System.Data.SqlClient"/>
    <!--*****************MySQL连接设置*****************-->
    <add name="mysqlconnstr" connectionString="server=localhost;User Id=root;password=940918;Database=iot;" providerName="MySql.Data.MySqlClient"/>
    <!--*****************Oracle连接设置*****************-->
    <add name="oracleconnstr" connectionString="data source=oracle;user id=system;password=940918" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerPort" value="8737"/>
    <add key="ServerAddr" value="172.17.133.10"/>
    <add key="L" value="L"/>
    <add key="G" value="G"/>
  </appSettings>
  
</configuration>